{% extends "base.html" %}
{% block title %}
MadRentals - Dashboard
{% endblock %}

{% block navbar%}

<nav>
    <a href="/logout" class="btn btn-success btn-lg active">Log Out</a>
</nav>

{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div id="dashboard">

    {% if messages %}
    <section><ul class="messages">
        {% for message in messages %}
        <li
        {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul></section>

    {% endif %}

    {% if is_renter %}
    <section>
        <p>Apply and enter your information into a preliminary application, and submit it to rental owners.</p>
        <a href="/rentalapplication"><button type="button" class="btn btn-secondary btn-sm dashboard-buttons">Fill Out An Application</button></a>
        <p>Make rental payments - outstanding balance is ${{ balance|floatformat:2 }}.</p>
        <a href="/payment"><button type="button" class="btn btn-secondary  btn-sm dashboard-buttons">Pay Rent</button></a>
        <p>Input a maintenance request and whether it is a priority.</p>
        <a href="/requests"><button type="button" class="btn btn-secondary btn-sm dashboard-buttons">Fill Out A Maintenance Request</button></a>
        <p>Review and respond to maintenance requests.</p>
        <a href="/view_requests"><button type="button" class="btn btn-secondary btn-sm dashboard-buttons">View Maintenance Requests</button></a>
    </section>

    {% elif not is_renter %}
    <section>
        <p>Accept or reject submitted application.</p>
        <a href="/view_applications"><button type="button" class="btn btn-secondary btn-sm dashboard-buttons">Review Applications</button></a>
        <p>Enter rent payments manually.</p>
        <a href="/payment"><button type="button" class="btn btn-secondary btn-sm dashboard-buttons">Enter Payment</button></a>
        <p>Add late fees or penalties.</p>
        <a href="/fees"><button type="button" class="btn btn-secondary btn-sm dashboard-buttons">Enter Fee</button></a>
        <p>Review and respond to maintenance requests.</p>
        <a href="/manage_requests"><button type="button" class="btn btn-secondary btn-sm dashboard-buttons">Review Maintenance Requests</button></a>
    </section>
    {% endif %}
</div>
{% else %}

{% endif %}

{% endblock %}