{% extends "base.html" %}
{% block title %}
Manage Requests
{% endblock %}

{% block content %}

    {% if query_results %}

        <h1>
            Manage Requests
        </h1>
        <div class="container">
            {% for item in query_results %}
                <h5>Maintenance request from "{{ item.tenant_name }}" with message: <b>{{ item.message }} PRIORITY: {{ item.priority }}</b>.</h5>
                <form method="POST" class="form-group">
                    {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-success" >Add Comment</button>
                </form>
            {% endfor %}
            <br>
            <button onClick="window.location.reload();">Refresh Requests</button>
        </div>


    {% else %}

        <div>
            <h1>
                Manage Requests
            </h1>
            <p>
                There are no requests.
            </p>
        </div>

    {% endif %}
{% endblock %}
