{% extends "base.html" %}
{% block title %}
Maintenance Requests
{% endblock %}

{% block content %}
<!-- {% if is_tenant %} -->
<h1>Create Maintenance Request</h1>
<form method="POST" class="form-group">
    {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success" >Submit Request</button>
</form>
<!-- {% elif not is_tenant %} -->
<h2>View Maintenance Requests</h2>
{% for post in posts %}
  <h1>({ post.tenant_name })</h1>
  <p>({ post.message })</p>
{% endfor %}
{% endif %}
{% endblock %}